<footer class="page-footer"
    role="contentinfo"
    itemscope
    itemtype="http://schema.org/WPFooter">
    <div class="row">
        <div class="container">
            <small style="text-align: center"
                itemprop="copyrightHolder"
                itemscope
                itemtype="http://schema.org/Person">
                Criptix Ltd
                <meta itemprop="name"
                    content="Criptix" />
            </small>

        </div>
    </div>
</footer>
