<div class="container">
    <div class="row"
        style="text-align: center">
        <img src="assets/images/not-found.svg"
            width="80%"
            alt="Not Found ilustration">
    </div>
</div>
