<label>Sort by &nbsp;<select name="orderBy"
        id="order-by"
        class="order-by"
        (change)="applyFlter($event)">
        <option *ngFor="let option of orderBy"
            [value]="[option.field, option.asc]">{{ option.text }}</option>
    </select>
</label>

<div *ngFor="let item of list"
    class="row currency-card"
    [class.positive]="isChangePositive(item.percentChange24h)"
    [class.negative]="isChangePositive(item.percentChange24h) === false"
    itemscope
    itemtype="http://schema.org/Product"
    (click)="openTransactionModal($event, item)">


    <div class="currency-card__icon">
        <div class="row">
            <div class="symbol">
                {{ item.symbol }}
            </div>
        </div>
    </div>

    <div class="currency-card__price"
        itemprop="offers"
        itemscope
        itemtype="http://schema.org/Offer">
        <span class="label">{{ priceLabel }}</span>
        <!-- <br> -->
        <strong>{{ item.price | currency: item.currency }}</strong>
        <meta itemprop="price"
            content="{{ item.price }}" />
        <meta itemprop="priceCurrency"
            content="{{ item.currency }}" />

        <i *ngIf="priceChangedMark(item.id, increasedPrices)"
            class="material-icons up animated flash infinite slow">
            trending_up
        </i>
        <i *ngIf="priceChangedMark(item.id, decreasedPrices)"
            class="material-icons down animated flash infinite slow">
            trending_down
        </i>
    </div>

    <div class="currency-card__name">
        <h3 class="title"
            itemprop="name">
            {{ item.name }}
        </h3>
    </div>

    <div class="currency-card__market-cap">
        <span class="label"
            style="font-weight: normal">{{ marketCapLabel}}</span>
        <br>
        {{ item.marketCap | number }}
    </div>

    <div class="currency-card__percentage24">
        <span class="value">
            <span class="text">{{ item.percentChange24h | number }}%</span>
            <br>
            <small>24h change</small>
        </span>
    </div>

</div>

<app-transaction-modal></app-transaction-modal>
