@import 'variables';
@import 'traits';
@import 'mixins';

.currency-card {
  // @include linear-gradient(lighten($color: $secondary-color, $amount: 5%), darken($color: $secondary-color, $amount: 5%));
  @extend %card-box-shadow-hoverable;
  background: $white;
  border: 1px solid darken($color: $whitesmoke, $amount: 5%);
  margin: 10px 0;
  min-height: 150px;
  padding: 2rem;
  position: relative;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  .label {
    // color: darken($color: $secondary-color, $amount: 5%);
    display: inline-block;
    font-weight: bold;
    padding-bottom: 5px;
  }

  &__icon {
    @include border-radius(50%);
    background: $gold;
    border: 1px solid darken($color: $gold, $amount: 5%);
    display: inline-block;
    height: 70px;
    position: relative;
    width: 70px;

    .symbol {
      color: darken($color: $gold, $amount: 55%);
      font-weight: bolder;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__price {
    bottom: 15px;
    left: 15px;
    position: absolute;

    i {
      display: inline;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 4px;

      &.up {
        color: $success-color;
      }

      &.down {
        color: $error-color;
      }
    }
  }

  &__name {
    display: inline-block;
    margin-left: 40px;
    position: absolute;
    top: 25px;

    @include breakpoint(tablet) {
      margin-left: 100px;
    }

    .title {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
  }

  &__market-cap {
    display: inline-block;
    margin-left: 80px;
    position: absolute;
    top: 85px;

    @include breakpoint(tablet) {
      margin-left: 100px;
    }
  }

  &__percentage24 {
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 22;

    @include breakpoint(tablet) {
      height: 100%;
      max-width: 250px;
      min-width: 200px;
      padding-top: 30px;
      width: 50%;

      .text {
        font-size: 1.8rem;
      }

      small {
        font-size: 1.8rem;
      }
    }

    @include breakpoint(mobile) {
      right: -5px;
      top: 15px;
      transform: rotate(45deg);

      .text {
        color: $white;
      }

      small {
        font-size: 1.1rem;
      }
    }

  }

  &.positive {
    .currency-card__percentage24 {
      @include breakpoint(tablet) {
        background: url('src/assets/images/positive.jpg') no-repeat;
        background-position: 0 30px;
        background-size: cover;
      }
    }
  }

  &.negative {
    .currency-card__percentage24 {
      @include breakpoint(tablet) {
        background: url('src/assets/images/negative.jpg') no-repeat;
        background-position: 0 30px;
        background-size: cover;
      }
    }
  }

  @include breakpoint(mobile) {
    &::before,
    &::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    &::before {
      border-right-color: $whitesmoke;
      border-top-color: $whitesmoke;
      border-width: 30px;
    }

    &::after {
      border-radius: .4em;
      border-width: 30px;
    }

    &.positive {
      &::after {
        border-right-color: $success-color;
        border-top-color: $success-color;
      }
    }

    &.negative {
      &::after {
        border-right-color: $error-color;
        border-top-color: $error-color;
      }
    }
  }
}
