@import 'variables';
@import 'mixins';
@import 'traits';

.overlay {
  background: $overlay-background-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.modal {
  @include border-radius(5px);
  $modal-padding: 2rem;
  background: $body-background-color;
  height: 400px;
  left: 50%;
  max-width: 500px;
  min-width: 310px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 9999999;

  &__container {
    padding: $modal-padding;
    position: relative;
  }

  &__header {
    background: darken($body-background-color, 15%);
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  &__title {
    color: $secondary-color;
    font-size: 2.7rem;
  }

  &__content {
    position: relative;
    text-align: center;
    top: 120px;
  }

  &__footer {
    // background: darken($body-background-color, 15%);
    display: block;
    left: 0;
    padding: $modal-padding;
    position: absolute;
    top: 302px;
    width: 100%;
  }

  &__button,
  %btn {
    @include button($secondary-color, $white, 45%, auto, 3px);
    font-weight: bold;
    min-width: auto;

    &--sell {
      @extend %btn;
      background: $secondary-color;
      float: left;
      width: 45%;
    }

    &--buy {
      @extend %btn;
      color: $success-color;
      float: right;
      width: 45%;
    }
  }
}
