<ng-container *ngIf="modalVisible">
    <div class="overlay"></div>

    <div class="modal">
        <div class="modal__container">
            <header class="modal__header">
                <h1 class="modal__title">
                    Buy or sell {{ item.name }}
                </h1>
            </header>

            <section class="modal__content">
                <label for="amount">Amount:
                    <input [(ngModel)]="amount"
                        (ngModelChange)="calculateTotalAmount($event, amount, item.price)"
                        type="number"
                        placeholder="Enter amount">
                </label>

                <br><br><br>
                <span class="modal__amount">
                    <strong>Total: {{ total }} {{ item.currency }}</strong>
                </span>
            </section>

            <footer class="modal__footer">
                <a class="modal__button--sell"
                    (click)="sell()">Sell</a>
                <a class="modal__button--buy"
                    (click)="buy()">Buy</a>
            </footer>
        </div>
    </div>

</ng-container>
