<aside class="sidebar"
    role="complementary"
    itemscope
    itemtype="http://schema.org/WPSideBar">
    <div class="sidebar__content">
        <h3 itemprop="name">Currency converter</h3>
        <p>Comming soon...</p>
        <p>
            Donec nec viverra eros. Aenean aliquam nulla vitae libero rutrum eleifend. Nam quam diam, fermentum id
            felis pretium,
            vestibulum faucibus nisl.
        </p>

        <p>
            Phasellus molestie, ante nec suscipit congue, augue sapien congue odio, ac
            vestibulum nulla
            lorem vel magna.
        </p>

        <p>
            Curabitur scelerisque, nisl nec tincidunt elementum, nisi velit mattis leo, eget
            scelerisque velit
            nisi ac leo.
        </p>

        <p>
            Nam nulla lacus, volutpat eu massa vel, imperdiet iaculis felis. Nam eu mattis neque. In nec
            euismod odio.
            Donec in risus sed ipsum rhoncus efficitur aliquet vel augue. Curabitur sit amet placerat ipsum. Donec vel
            accumsan
            justo.
        </p>

        <p>
            Aenean eleifend turpis vel dui vehicula cursus. Nunc sagittis pulvinar nulla ac venenatis. Nulla
            vulputate,
            risus a vehicula dapibus, enim ligula dapibus risus, eget egestas eros orci eu urna.
        </p>
    </div>
</aside>
