.loader {
  display: none;
  height: 20rem;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  z-index: 9999;

  &.visible {
    display: block;
  }
}
