<nav class="page-nav container"
    role="navigation"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement">

    <div class="page-nav__branding col col--mobile8 col--tablet6 col--laptop6 col--desktop6">
        <img class="page-nav__logo"
            src="assets/images/cryptx-logo.svg"
            alt="Cryptx Logo">

        <a [routerLink]="homeRoute"
            class="app-name"
            itemprop="url"
            href="{{ homeRoute }}">
            <span itemprop="name">{{ appName }}</span>
        </a>
    </div>

    <i class="page-nav__menu-switch material-icons"
        [class.page-nav__menu-switch--active]="menuIcon === 'close'"
        (click)="toggleMenu()">
        {{ menuIcon }}
    </i>

    <ul class="menu container"
        [class.menu--active]="menuIcon === 'close'">

        <li class="menu__list-item"
            *ngFor="let item of menu">

            <a class="menu__link"
                [routerLink]="item.route"
                [routerLinkActive]="'menu__link--active'"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="toggleMenu()"
                itemprop="url"
                href="{{ homeRoute }}">
                <span itemprop="name">{{ item.title }}</span>
            </a>

        </li>

    </ul>
</nav>
