@import 'variables';
@import 'mixins';

.page-nav {
  height: 70px;

  &__menu-switch {
    @include transition(all, .1s);
    color: $secondary-color;
    float: right;
    font-size: 4rem;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: hidden;
    width: 40px;

    &:hover {
      cursor: pointer;
    }

    &--active {
      color: $white;
    }
  }

  &__branding {
    display: inline-block;

    a {
      color: $font-color-inverse;
      font-size: 4rem;
      font-weight: bold;
      padding: 0 10px;
      position: relative;
      top: -21px;

      @include breakpoint(mobile) {
        font-size: 2.3rem;
        padding: 0;
      }
    }
}

  &__logo {
    height: 50px;
    margin: 10px 10px 10px 0;
    width: 50px;

    @include breakpoint(mobile) {
      height: 40px;
      width: 40px;
    }

    &--is-small {
      height: 40px;
      width: 40px;
    }

    &--is-large {
      height: 60px;
      width: 60px;
    }
  }
}

.menu {
  @include transition(all, .1s, ease-in-out);
  @include box-shadow(1px, 1px, 3px, $menu-shadow-color);
  background: $menu-background-color;
  height: 100vh;
  left: -$menu-width;
  margin: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: $menu-width;
  z-index: 999;

  &--active {
    left: 0;
    visibility: visible;
  }

  &__list-item {
    border-bottom: 1px solid darken($color: $menu-background-color, $amount: 3%);
    display: block;
    list-style: none;
  }

  &__link {
    @include transition(color, .1s, ease-in-out);
    color: $mainmenu-link-color;
    display: block;
    font-weight: bold;
    margin-top: 0;
    padding: 20px 20px 20px 40px;

    &:hover {
      @include breakpoint(laptop) {
        color: $mainmenu-hover-link-color;
      }
      cursor: pointer;
    }

    &--active {
      color: $mainmenu-hover-link-color;
    }
  }
}
