* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; // making unit calculations little bit easier. 10px = 1rem
}

body {
  background: $body-background-color;
  font-size: 1.6rem;
  height: 100%;
  min-height: 100vh;
  width: 100%;

  @include breakpoint(tablet) {
    font-size: 1.9rem;
  }
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;

  &.is-bold {
    font-weight: bold;
  }

  &.is-bolder {
    font-weight: bolder;
  }

  &.is-light {
    font-weight: lighter;
  }

  &.is-regular {
    font-weight: normal;
  }

  &.is-italic {
    font-style: italic;
  }
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.6;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 2.1rem;
}

// Providing global .button class as well as providing a way to extend the button for inheritance
.button,
%button {
  @include button;
}
