.container {
  margin: 0 auto;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  @include breakpoint(mobile) {
    max-width: calc(100% - 2.5rem);
  }

  @include breakpoint(tablet) {
    max-width: 95%;
  }


  @include breakpoint(laptop) {
    max-width: 960px;
  }

  @include breakpoint(desktop) {
    max-width: 1200px;
    width: 75%;
  }

  @include breakpoint(large-desktop) {
    max-width: 1600px;
    width: 75%;
  }

  @include breakpoint(xxl-desktop) {
    max-width: 1600px;
    width: 75%;
  }
}

.row {
  display: block;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.col {
  float: left;
}

$i: 1;
@while $i <= $number-of-columns {
  $perc: unquote($col-width * $i + '%');
  @include grid-class-generator('all', $i, $perc);
  $i: $i + 1;
}

@include breakpoint (mobile) {
  $i: 1;
  @while $i <= $number-of-columns {
    $perc: unquote($col-width * $i + '%');
    @include grid-class-generator('mobile', $i, $perc);
    $i: $i + 1;
  }
}

@include breakpoint (tablet) {
  $i: 1;
  @while $i <= $number-of-columns {
    $perc: unquote($col-width * $i + '%');
    @include grid-class-generator('tablet', $i, $perc);
    $i: $i + 1;
  }
}

@include breakpoint (laptop) {
  $i: 1;
  @while $i <= $number-of-columns {
    $perc: unquote($col-width * $i + '%');
    @include grid-class-generator('laptop', $i, $perc);
    $i: $i + 1;
  }
}

@include breakpoint (desktop) {
  $i: 1;
  @while $i <= $number-of-columns {
    $perc: unquote($col-width * $i + '%');
    @include grid-class-generator('desktop', $i, $perc);
    $i: $i + 1;
  }
}
