// USAGE: @include transition(all,2s,ease-out);
@mixin transition($property: all, $time: .2s, $style: ease-in-out) {
  -moz-transition: $property $time $style;
  -ms-transition: $property $time $style;
  -o-transition: $property $time $style;
  -webkit-transition: $property $time $style;
  transition: $property $time $style;
}

// USAGE: @include box-shadow(1px, 1px, 3px, #000, false);
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -moz-box-shadow: inset $top $left $blur $color;
    -webkit-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -moz-box-shadow: $top $left $blur $color;
    -webkit-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Usage: you have noticed a pattern until now, right? :)
@mixin linear-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

// Usage: yup, you got it :D
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  // fallback/image non-cover color
  background: linear-gradient(to right, $from 0%, $to $stop);
  background-color: $from;
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin button($background-color: $primary-color, $color: $white, $width: 100px, $height: auto, $radius: 3px, $box-shadow-color: rgba(0, 0, 0, .3)) {
  @include border-radius($radius);
  @include box-shadow(1px, 1px, 2px, $box-shadow-color);
  background: $background-color;
  border: 1px solid darken($background-color, $amount: 3%);
  color: $color;
  display: inline-block;
  font-size: 2rem;
  height: $height;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  width: $width;

  &:hover {
    // @include box-shadow(1px, 1px, 2px, opacify($black, .1));
    @include box-shadow(2px, 2px, 4px, $box-shadow-color);
    background: lighten($background-color, $amount: 5%);
    cursor: pointer;
  }

  &:active {
    @include box-shadow(1px, 1px, 2px, $box-shadow-color);
  }

  &--is-hero-button {
    background: $secondary-color;
    border: 1px solid darken($color: $secondary-color, $amount: 3%);

    &:hover {
      background: lighten($color: $secondary-color, $amount: 5%);
    }
  }

  &--is-centered {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  &--is-large {
    width: 200px;
  }
}

@mixin grid-class-generator($size, $i, $perc) {
  .col {
    &--#{$size}#{$i} {
      width: $perc;
    }
  }
}

// USAGE: @include breakpoint(mobile) { // add som styling for breakpoint };
@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: $mobile-size) {
      @content;
    }
  } @else if $class == tablet {
    @media (min-width: $tablet-size) {
      @content;
    }
  } @else if $class == laptop {
    @media (min-width: $laptop-size) {
      @content;
    }
  } @else if $class == desktop {
    @media (min-width: $desktop-size) {
      @content;
    }
  } @else if $class == large-desktop {
    @media (min-width: $large-desktop-size) {
      @content;
    }
  } @else if $class == xxl-desktop {
    @media (min-width: $xxl-desktop-size) {
      @content;
    }
  }
}
