<header class="page-header row"
    [class.page-header--is-home]="headerClass"
    itemscope
    itemtype="http://schema.org/WPHeader">

    <div class="row">
        <app-mainmenu></app-mainmenu>
    </div>


    <div class="row">
        <div *ngIf="isHome"
            class="hero container">
            <div class="hero__img-container col col--mobile12 col--tablet3 col--laptop3 col--desktop4">
                <img src="assets/images/coin-portal.png"
                    alt="Cryptocurrenci coin ilustration"
                    class="hero__img">
            </div>

            <div class="hero__content col col--mobile12 col--tablet9 col--laptop9 col--desktop8">
                <h1 itemprop="name">{{ pageTitle }}</h1>
                <h2 class="is-light">{{ tagline }}</h2>

                <br>

                <a href="#"
                    class="button button--is-hero-button button--is-centered button--is-large">
                    Start trading
                </a>
            </div>
        </div>
    </div>
</header>

<div class="row"></div>
