@import 'variables';
@import 'mixins';

.page-header {
  background: url('src/assets/images/header-bg.jpg') no-repeat;
  background-size: cover;
  height: 20rem;

  &--is-home {
    height: 50rem;
  }
}

.hero {
  margin-top: 0;

  &__img-container {

    img {
      padding-top: 50px;
    }

    @include breakpoint(mobile) {
      text-align: center;

      img {
        max-height: 80px;
        padding-top: 0;
      }
    }
  }

  &__content {
    padding: 0 10px;

    .button {
      margin-top: 70px;
    }

    @include breakpoint(mobile) {
      .button {
        margin-top: 0;
      }
    }

    h1,
    h2 {
      color: $white;
      text-align: center;
    }
  }

  h1 {
    font-size: 4rem;

    @include breakpoint(mobile) {
      font-size: 3.4rem;
    }
  }
}
