<div class="container row">

    <div class="col col--mobile12 col--tablet12 col--laptop8">
        <h2>Top currencies</h2>
        <app-currency-list [(list)]="list"></app-currency-list>

        <br>

        <a [routerLink]="allCurrenciesRoute"
            class="button button--is-hero-button button--is-large button--is-centered">
            {{ allCurrenciesText }}
        </a>

        <br><br>
    </div>

    <div class="col col--mobile12 col--tablet12 col--laptop4">
        <app-sidebar></app-sidebar>
    </div>

</div>
