<div class="row">
    <div class="container">
        <h2>Currencies</h2>

        <div class="col col--mobile12 col--tablet12 col--laptop8">
            <app-currency-list [list]="list"></app-currency-list>

            <br>

            <a (click)="loadMore()"
                class="button button--is-hero-button button--is-large button--is-centered">Load more</a>

            <br>
            <br>
        </div>

        <div class="col col--mobile12 col--tablet12 col--laptop4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>
