@import 'mixins';

$primary-color: #d82cc7;
$secondary-color: #3a4567;
$whitesmoke: #f5f5f5;
$gold: #ffd700;
$success-color: #46a92b;
$error-color: #cc1a00;
$body-background-color: $whitesmoke;
$overlay-background-color: rgba(0, 0, 0, .8);
$black: #000;
$white: #fff;
// font colors:

$font-color-inverse: #fff;
$secondary-font-color: #152b59;

// Main menu:
$menu-background-color: $secondary-color;
$mainmenu-link-color: rgba(255, 255, 255, .6);
$mainmenu-hover-link-color: $white;
$menu-width: 280px;
$menu-shadow-color: opacify($color: $black, $amount: .2);

// Breakpoints:
$mobile-size: 767px; // 767px
$tablet-size: 768px; // 768px
$laptop-size: 992px; // 992px
$desktop-size: 1200px; // 1200px
$large-desktop-size: 1920px; // 1920px
$xxl-desktop-size: 2560px; // 2560px

// layout
$number-of-columns: 12; // defines number of columns in grid
$col-width: 100 / $number-of-columns;

